@media ( max-width : 420px ) {
  .recipe-detail-image {
    width: 100%;
    height: 300px;
    filter: brightness(0.6);
  }
  .recipe-detail-title {
    position: absolute;
    width: 147px;
    height: 42px;
    left: 109.01px;
    top: 81px;
    font-family: 'Epilogue';
    font-style: italic;
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .ingredient-detail-title {
    width: 142.8px;
    height: 21px;
    margin-left: 15px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #1A1B1C;
  }

  .ingredient-list-container-detail {
    width: 80%;
    margin-left: 15px;
    border: 0.554397px solid #B1B1B1; 
    border-radius: 5.35144px;
  }

  .item-list-detail {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    padding: 5px;

    color: #1A1B1C;
  }

  .description-detail {
    width: 80%;
    margin-left: 18px;
    border: 0.554397px solid #B1B1B1; 
    border-radius: 5.35144px;
    padding: 18px;
  }

  .ingredients-container {
    margin: 18px;
  }
}
