@media ( max-width : 420px ) {
  .done-recipes-card-container {
    display: flex;
    padding: 5px;
    text-align: center;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
  }

  .done-recipe-image {
    padding: 10px;
    width: 40%;
    height: 150px;
    filter: brightness(0.6);
  }
}