@media ( max-width : 420px ) {
  .favorite-recipes-card-container {
    display: flex;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    border: 1px solid black;
    margin: 25px;
    padding: 10px;
    background: #e0e0df;
  }

  .favorite-recipe-image {
    width: 150px;
    height: 150px;
    padding: 10px;
    filter: brightness(0.6);
  }

  .favorite-text-container {
    width: 100%;
  }
}
