@media ( max-width : 420px ) {
  .favorite-btn {
    position: absolute;
    left: 85.28%;
    right: 8.36%;
    top: 1.32%;
    bottom: 97.27%;
    width: 28px;
    margin-left: 10px;
  }

  .favorite-btn-fav-done {
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
  }
}
