@media ( max-width : 420px ) {
  footer {
    height: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #41197F;
    display: flex;
    justify-content: space-between;
  }

}

