@media ( max-width : 420px ) {
  .container-icons {
    display: flex;
    height: 55px;
    justify-content: space-between;
    background: #FCDC36;
  }

  .icon {
    font-size: 35px;
    margin: 10px;
    color: #41197F;;
  }

  .header-recipe-icon-container {
    display: flex;
    margin: 10px;
  }

  .app-name {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #41197F;

  }

  .header-title {
    color: #41197F;
    align-self: center;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
  }

  .food-icon {
    width: 50px;
    align-self: center;
    margin-top: 15px;
  }
}